
<aside class="sidebar ornate">
  <a class="brand" href="#" data-nav-href="index.html">
    <h1>Arturo<br>Tapia-Minchez</h1>
    <p>Composer ● Vocalist ● Poet</p>
    <span class="hebrew">קוֹל • תְּפִלָּה • שִׁיר</span>
  </a>

  <div class="nav-title">Main Pages</div>
  <ul class="nav-list">
    <li class="nav-item"><a class="nav-link" data-page-target="home" href="#" data-nav-href="index.html">Home</a></li>
    <li class="nav-item"><a class="nav-link" data-page-target="biography" href="#" data-nav-href="biography/">Biography</a></li>

    <li class="nav-item has-dropdown">
      <button class="dropdown-toggle" type="button"><span>Music Catalog</span><span class="caret">▾</span></button>
      <ul class="subnav">
        <li><a data-page-target="music-overview" href="#" data-nav-href="catalog/">Overview</a></li>
        <li><a data-page-target="choral" href="#" data-nav-href="catalog/choral/">Choral</a></li>
        <li><a data-page-target="instrumental" href="#" data-nav-href="catalog/instrumental/">Instrumental</a></li>
        <li><a data-page-target="works-list" href="#" data-nav-href="catalog/full-works-list/">Full Works List</a></li>
      </ul>
    </li>

    <li class="nav-item has-dropdown">
      <button class="dropdown-toggle" type="button"><span>Vocal Demos</span><span class="caret">▾</span></button>
      <ul class="subnav">
        <li><a data-page-target="vocal-demos" href="#" data-nav-href="voice/">Demo Gallery</a></li>
        <li><a data-page-target="artist-cv" href="#" data-nav-href="voice/artist-cv/">Artist CV</a></li>
      </ul>
    </li>

    <li class="nav-item has-dropdown">
      <button class="dropdown-toggle" type="button"><span>Poetry</span><span class="caret">▾</span></button>
      <ul class="subnav">
        <li><a data-page-target="poetry-intro" href="#" data-nav-href="poetry/">Intro to My Poetry</a></li>
        <li><a data-page-target="poetry-demos" href="#" data-nav-href="poetry/demos/">Poetry Demos</a></li>
        <li><a data-page-target="little-book" href="#" data-nav-href="poetry/little-book/">Little Book of Spells</a></li>
      </ul>
    </li>

    <li class="nav-item"><a class="nav-link" data-page-target="press-events" href="#" data-nav-href="press/">Press Kit & Events</a></li>
    <li class="nav-item"><a class="nav-link" data-page-target="contact" href="#" data-nav-href="contact/">Contact</a></li>
  </ul>
<div class="inner-border"></div>
</aside>
